:root {
  --main_color: #0090f0;
  --p_color: #7b7b7b;
  --bg_color: #f3f3f3;
  --white_color: #fff;
  --color_heading: #253237;
  --border_color: #d6d6d6d5;
}

.item_details {
  padding: 50px 0;
}

.item_details .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_details .img_items {
  width: 40%;
}
.item_details .img_items .bag_img {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_details .img_items .bag_img img {
  max-height: 450px;
  width: auto;
}

.item_details .img_items .small_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.item_details .img_items .small_img .sm_img {
  width: 24%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.item_details .img_items .small_img .sm_img img {
  max-height: 150px;
}

.item_details .details_item {
  width: 58%;
}

.item_details .details_item .name {
  margin-bottom: 30px;
  color: var(--main_color);
}

.item_details .details_item .stars {
  margin: 15px 0px;
  display: flex;
  gap: 5px;
}
.item_details .details_item .stars svg {
  fill: #f8d941;
  font-size: 20px;
}

.item_details .details_item .price {
  font-size: 22px;
  margin: 20px 0;
}

.item_details .details_item h5 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 16px;
}

.item_details .details_item .description {
  line-height: 1.5;
}

.item_details .details_item .stock {
  font-size: 20px;
  margin-top: 20px;
}

.item_details .details_item .btn {
  font-size: 16px;
  border-radius: 2px;
  padding: 12px 15px;
  border: 1px solid var(--main_color);
}

.item_details .details_item .btn.in_cart {
  background: transparent;
  color: var(--main_color);
  pointer-events: none;
}
.item_details .details_item .btn svg {
  font-size: 20px;
}

.item_details .details_item .icons {
  display: flex;

  gap: 10px;
  transition: 0.3s;
  margin: 20px 0;
}

.item_details .details_item .icons span {
  width: 40px;
  height: 40px;
  background: var(--bg_color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.item_details .details_item .icons span.in-fav {
  background-color: var(--main_color);
}
.item_details .details_item .icons span.in-fav svg {
  fill: wheat;
}
.item_details .details_item .icons span:hover {
  background-color: var(--main_color);
}
.item_details .details_item .icons span:hover svg {
  fill: var(--white_color);
}

.loading_item .item_details .img_items {
  height: 600px;
}

.loading_item .item_details .details_item {
  height: 600px;
  padding-top: 100px;
}

.loading_item .item_details .details_item h5 {
  margin-bottom: 50px;
  height: 30px;
}

.skeltion {
  background-color: #e2e5e7;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  animation: shine 1s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}
